body {
    background-image: url("../images/backgroundIndex.jpg");
    font-family: 'Futura', sans-serif;
}

.listname {

    border: 2px solid white;
    background: none;

    z-index: 1;
    font-size: 1.5em;
    color: white;
    float: left;
    border-radius: 0px;
    margin-left: 30px;


}



#backgroundleft{



}

#userInfo{

    font-size: 5em;
    color: white;

}

#logout{

    border: 2px solid white;
    font-size: 1.5em;
    color: white;
    border-radius: 3px;
    text-align: center;
    margin-top: 25px;

}

#lijsten{
    color: white;
    font-size: 2em;
    margin-top: 40px;
}

#taken {
    color: white;
    font-size: 2em;
    margin-top: 40px;

}

.taskform {
    display: none;
}

#lijsten a{
    color: white;
}

h1{
    color: white;
    font-size: 5em;
    margin-left: 40px;
}

.strike{
    text-decoration: line-through;
}

.notstrike{
    text-decoration: none;
}

.test{
    color: blue;
}

.task{
    color: white;
}

a:hover{
    color: white;

}

#opmerkingen{
    background-color: green;
    display: none;
}

.commentform{
    display: none;
}

