body{

    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.3)
            ),

            url("../images/backgroundSignup.jpg");
    font-family: 'Futura', sans-serif;
}







.logo{
    font-family: 'Futura', sans-serif;
    font-size: 10em;
    color: white;
}


label{
    color: white;
    font-family: 'Futura', sans-serif;
    font-size: 1.4em;

}

#whatever{
    font-family: 'Futura', sans-serif;
    font-size: 5em;
    color: white;
    margin-bottom: 40px;

}
